<footer>
  Contact me at <a class="text-lightlink" href="mailto:<%= metadata.email %>"><%= metadata.email %></a>
  <p class="py-2 text-xs">I built this awesome site with the help of <a class="text-lightlink" href="https://www.bridgetownrb.com/">bridgetownrb</a> and lots of folks on Twitter.</p>
  <div class="footer-links">
    <a id="ras" href="https://github.com/TreetopLover" target="_blank"><i class="fab fa-github fa-2x px-2 text-lightlink"></i></a>
    <a id="ta" href="https://twitter.com/oldjoehenry" target="_blank"><i class="fab fa-twitter fa-2x px-2 text-lightlink"></i></a>
    <a id="far-i" href="https://linkedin.com/in/joseph-hargrove-207b85227" target="_blank"><i class="fab fa-linkedin fa-2x px-2 text-lightlink"></i></a>
  </div> 
</footer>
