<div  class="w-full mx-0 fixed inset-x-0 top-0 h-auto flex-row bg-navcolor w-full block">
<nav class="space-x-2 pt-2 pb-2">
    <a class="text-darklink py-2 pl-4" href="<%= relative_url '/' %>">Home</a>
    <a class="text-darklink py-2" href="<%= relative_url '/about' %>">About</a>
    <a class="text-darklink py-2" href="<%= relative_url '/posts' %>">Posts</a>
</nav>
</div>
