<nav class="flex items-center justify-between flex-wrap h-24 p-6">
  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/about' | relative_url }}">About</a></li>
    {% comment %} <li><a href="{{ '/posts' | relative_url }}">Posts</a></li> {% endcomment %}
  </ul>
</nav>
